[flask]
debug=True
host=localhost
port=5555

[mysql]
host=localhost
port=3306
user=<mysql username>
password=<mysql password>
database=<mysql database name>

[data]
gene_spokesig_path=/path/to/genespokesig/tsv/files
column_mapping_file=/path/to/column/mapping/tsv/file
